[submodule "account"]
	path = account
	url = https://github.com/mrs-services/account.git
[submodule "reservation"]
	path = reservation
	url = https://github.com/mrs-service/reservation.git
[submodule "mrs-ui"]
	path = mrs-ui
	url = https://github.com/mrs-services/mrs-ui.git
[submodule "notification"]
	path = notification
	url = https://github.com/mrs-services/notification.git
